@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mazzard";
  src: url("./assets//fonts/MazzardH-Black.otf");
}

@font-face {
  font-family: "Mazzard-italic";
  src: url("./assets/fonts/MazzardH-BlackItalic.otf");
}